<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>dxproject</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script> *@

    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
</head>

<body style="padding-top: 5rem;">

  <button type="button" class="btn btn-primary" id="DxButtonId">Devextreme</button>
 
@*  <button type="button" class="btn btn-success" id="FreeReportToolsButtonId">Free Report tools</button>*@
 
        @RenderBody()
 
</body>

</html>

    <script>
  $(function () {
      $("#DxButtonId").click(function(){
      window.location.href="/report/devextreme";
      });


      $("#FreeReportToolsButtonId").click(function () {
          window.location.href = "/report/FreeReportTools";
      });
  });


    </script>